@{
    ViewData["Title"] = "Sobre";
    <link rel="stylesheet" href="~/css/AboutStyleSheet.css" />
}
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="text" style="font-family: 'Noto Sans TC', sans-serif;">
        <p>
            <img class="imgwallet" src="~/img/Officewallet.png" />
            The Task Organizer System was Developed by <strong>Leonardo Ferreira</strong> to practice creating small registration screen systems.
            This is a system designed to manage learning, listing courses and desired books, making the study journey more organized.
            The System is developed with the C# language, using the ASP.NET Core framework created by Microsoft.
            Still constantly improving, the system uses the design pattern MVC to decouple user-interface (View), data (Model), and application logic (Controller). This pattern helps to achieve separation of concerns.
            In addition, the database has been integrated with the powerful ORM (Object-Relational Mappers) EntityFramework to aid in productivity.
            <br />
            <br />
            I am available to clarify any doubts.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <hr />
        <h3>Contatos</h3>
    </div>
    <div>
        <p>
            Email: <email>leonardo.ferreira089@gmail.com</email><br />
            Telefone: +55 92 984542119.<br />
        </p>
    </div>

</div>


